*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(230, 178, 86);
  line-height: 1.5;
  width: 600px;
  margin: 0 auto;
}

.recipe-list {
  text-align: center;
}


h1 {
  text-align: center;
  font-size: 30px;
  padding: 24px;

}

img {
  height: 400px;
  width: auto;
  display: block;
  margin: 0 auto;
}
